:root {
  --main-bg: #2e2f31;
  --main-blue: #4285f4;
  --main-red: #ea4335;
  --main-green: #34a853;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Cairo", sans-serif;
  background: var(--main-bg);
  height: 100vh;
}

#app {
  padding: 1rem;
  position: relative;
  height: 100vh;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.search-container--animate {
  animation: 2s ease-out gotop forwards;
}
@keyframes gotop {
  to {
    top: 1rem;
    transform: translateX(-50%) translateY(0);
  }
}
.search-container__logo > h1 {
  font-size: 4.4rem;
  text-transform: capitalize;
}
.search-container__logo > h1 > span:first-child {
  color: var(--main-blue);
}

.search-container__logo > h1 > span:last-child {
  color: var(--main-red);
}

#search-form {
  width: 700px;
  max-width: 100%;
}
.search-form__row {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.search-form__input {
  background: white;
  outline: none;
  border: none;
  border-radius: 3rem;
  padding: 1rem 1.6rem;
  flex: 1;
  font-size: 1rem;
}

.search-form__input:focus {
  outline: none;
}

.search-form__submit-btn {
  background: var(--main-green);
  text-transform: uppercase;
  color: white;
  border-radius: 3rem;
  padding: 1rem 1.6rem;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
.search-result-container {
  margin-top: 170px;
}
