:root {
  --main-bg: #2e2f31;
  --main-blue: #4285f4;
  --main-red: #ea4335;
  --main-green: #34a853;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Cairo", sans-serif;
  background: var(--main-bg);
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Small */
@media (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    gap: 1rem;
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
    gap: 2rem;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
    gap: 3rem;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
    gap: 4rem;
  }
}

.logo > h1 {
  text-transform: capitalize;
}
.logo > h1 > span:first-child {
  color: var(--main-blue);
}

.logo > h1 > span:last-child {
  color: var(--main-red);
}

/* Small */
@media (max-width: 991px) {
  .logo > h1 {
    font-size: 4rem;
  }
}

/* Medium */
@media (min-width: 992px) {
  .logo > h1 {
    font-size: 6rem;
  }
}
/* Large */
@media (min-width: 1200px) {
  .logo > h1 {
    font-size: 8rem;
  }
}
#search-form {
  width: 700px;
  max-width: 100%;
}
.search-form__row {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.search-form__input {
  background: white;
  outline: none;
  border: none;
  border-radius: 3rem;
  padding: 1rem 1.6rem;
  flex: 1;
  font-size: 1rem;
}

.search-form__input:focus {
  outline: none;
}

.search-form__submit-btn {
  background: var(--main-green);
  text-transform: uppercase;
  color: white;
  border-radius: 3rem;
  padding: 1rem 1.6rem;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
