:root {
  --main-bg: #202124;
  --main-blue: #4285f4;
  --main-red: #ea4335;
  --main-green: #34a853;
  --doc-link-color: #8ab4f8;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Cairo", sans-serif;
  background: var(--main-bg);
  height: 100vh;
}

#app {
  padding: 1rem;
  position: relative;
  min-height: 100vh;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
}
.search-container__logo > h1 {
  font-size: 4.4rem;
  text-transform: capitalize;
}
.search-container__logo > h1 > span:first-child {
  color: var(--main-blue);
}

.search-container__logo > h1 > span:last-child {
  color: var(--main-red);
}

#search-form {
  width: 700px;
  max-width: 100%;
}
.search-form__row {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.search-form__input {
  background: white;
  outline: none;
  border: none;
  border-radius: 3rem;
  padding: 1rem 1.6rem;
  flex: 1;
  font-size: 1rem;
}

.search-form__input:focus {
  outline: none;
}

.search-form__submit-btn {
  background: var(--main-green);
  text-transform: uppercase;
  color: white;
  border-radius: 3rem;
  padding: 1rem 1.6rem;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
.search-result-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.search-result-container__doc-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--doc-link-color);
  text-transform: capitalize;
}
.search-result-container__doc-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.search-container__no-result {
  color: #bdc1c6;
  font-size: 1.2rem;
}
#next-docs-btn {
  background: #303134;
  display: block;
  width: 100%;
  margin: 0 auto;
  border: none;
  border-radius: 3rem;
  padding: 0.6rem 0;
  color: #bdc1c6;
  font-size: 0.9rem;
  cursor: pointer;
}

#next-docs-btn:hover {
  background: #3c4043;
}
#next-docs-btn::first-letter {
  text-transform: capitalize;
}
